body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

p { margin: 3px 0; }

table {
  border-collapse: collapse;
}

.TableHeadingColor     { background: #627c9d; color: white; font-size: 8px; }
.TableSubHeadingColor  { background: #EEEEFF }
.TableRowColor         { background: #FFFFFF }

.NavBarCell1    { background-color:#627c9d; color: #fff;}
.NavBarCell1 a  { color: #fff; margin: 1px 5px; }
.NavBarCell1Rev { background-color: #324c6d;}
.NavBarFont1    { color:#fff;}
.NavBarFont1Rev { color:#FFFFFF; margin: 1px 5px; }
.NavBarCell2    { background-color:#FFFFFF;}
.NavBarCell3    { background-color:#FFFFFF;}

div.code span.elem { color: darkred; }
div.code span.attr { color: red; }
div.code span.cont { color: black; }
div.code span.oper { color: blue; }
div.code span.comm { color: grey; }
div.code span.cdat { color: black; }
div.code span.proc { color: lightseagreen; }
div.code span.doct { color: dark-blue; }
div.code span.anno { color: #888888; }

div.hierar { margin-left: 1em; text-indent: 0em; border-style:solid; border-width:1px; border-color: #D0D0D0;}
ul { margin-top: 0px; margin-bottom: 0px; }
li { margin-top: 0px; margin-bottom: 0px; }

dt { font-weight: bold; }

.anno { color: #888888; }
.smal { font-size: 60%; font-weight: bold; }

hr {
  border-top: 1px solid #eee;
}
