#loading
{
	margin-top: 350px;
	text-align: center;
}

.folio
{
	position: absolute;
	text-align: left;
	-webkit-transform: translateZ(0);
}

.folio #manifestXRef
{
	color: #4c4c4c;
	font-size: 12px;
	padding-bottom: 7px;
}

.folio #title
{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 3px;
}

body
{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background: #EAE8E0;
}

.buyButton
{
	background-image:url('http://lighthouse.adobe.com/users/derek/store/images/blackPrice_up.png');
	background-repeat: no-repeat;
	width: 70px;
	height: 30px;
	color: #00CBF7;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 8px;
}

#marketing
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	-webkit-transform: translateZ(0);
}

#marketing
{
	height: 304px;
}

#marketing
{
	position: absolute;
	left: 50%;			/* Used in conjunction with margin-left for horizontal center. */
	margin-left: -365px;/* viewport width / 2 */
	top: 55px;
	overflow: hidden;
	width: 730px;
	height: 314px;
}

#marketing #bg
{
	position: absolute;
	-webkit-transform: translateZ(0);
}

#marketing .rotatingImage
{
	position: absolute;
	-webkit-transform: translateZ(0);
	padding-left: 5px;
	padding-top: 5px;
}

#searchContainer
{
	float: right;
	background-image:url('http://lighthouse.adobe.com/users/derek/store/images/search_input_bg.gif');
	background-repeat: no-repeat;
	width: 205px;
	height: 29px;
	padding-left: 25px;
	padding-top: 4px;
	white-space:nowrap;
}

#searchInput
{
	position: absolute;
	width: 160px;
	height: 19px;
	border: none;
	-webkit-appearance:none;  
    -webkit-border-radius:0px;
	top: 14px;
	right: 42px;
}

#clearInput
{
	position: absolute;
	background-image: url('http://lighthouse.adobe.com/users/derek/store/images/clear_input_icon.png');
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	right: 15px;
	top: 14px;
}

#sortBy
{
	float: left;
	margin-left: 9px;
	background-image :url('http://lighthouse.adobe.com/users/derek/store/images/search_sort_by.gif');
	background-repeat: no-repeat;
	width: 71px;
	height: 29px;
}

#topBar
{
	background-color: #BDBBB5;
	width: 100%;
	height: 39px;
	padding-top: 9px;
}

#sortByDropDown
{
	position: absolute;
	top: 40px;
	left: 14px;
	width: 200px;
	-webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, .15);
}

.dropDownItem, .dropDownItemSelected
{
	background-image :url('http://lighthouse.adobe.com/users/derek/store/images/drop_down_item_bg.png');
	background-repeat: no-repeat;
	width: 237px;
	height: 45px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-top: 0px;
	margin-bottom: -17px;
	padding-top: 17px;
	padding-bottom: 0px;
	padding-left: 12px;
}

.dropDownItemSelected
{
	background-image :url('http://lighthouse.adobe.com/users/derek/store/images/drop_down_item_selected_bg.png');
	color: #ffffff;
}
