body {
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 70px 0 0 0;
}

table {
  border-collapse: collapse;
  margin: 1px 0;
  background-color: #fff;
}

td, th {
  border: 1px solid #999;
  padding: 3px 5px;
  font-size: 9pt;
}

th {
  color: #fff;
  background-color: #666;
}

td p {
  margin: 0;
}

td p + p {
  margin-top: 5px;
}

h2 {
  border-bottom: 1px solid #000;
}

hr {
  border: 1px dotted #d6d6ff;
}

#header {
  padding: 5px 10px;
  padding-bottom: 0;
  background-color: #222;
  color: #fff;
  border-bottom: 5px solid #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  overflow: hidden;
}

#header h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  height: 60px;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#version {
  font-size: 8px;
  position: absolute;
  right: 15px;
  top: 70px;
}

#content {
	width: 760px;
	padding: 10px 10px 40px 10px;
	margin: 0 auto;
  font-size: 10pt;
}

#footer {
  background-color: #eee;
  color: #999;
  padding: 15px 10px 15px 50px;
  background-image: url('../images/grey_logo.gif');
  background-repeat: no-repeat;
  background-position: 10px center;
  margin-top: 3em;
}

#sidebar {
  width: 180px;
  background-color: #999;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: scroll;
  position: fixed;
  top: 90px;
  left: 0;
  bottom: 0;
}

#sidebar + #page {
  margin-left: 185px;
}

#sidebar .api_group {
  font-size: 11px;
  padding: 1px 5px;
  background-color: #222;
  color: #fff;
  margin: 0;
}

#sidebar .api_nav {
  font-size: 11px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar .api_nav li {
  margin-top: 1px;
  border-bottom: 1px solid #ccc;
}

#sidebar a {
  color: #000;
  text-decoration: none;
  background-color: #ccc;
  display: block;
  padding: 2px 5px;
}

#sidebar a:hover {
  color: #fff;
  background-color: #d6d6ff;
}

#sidebar .deprecated {
  text-decoration: line-through;
  color: #666;
}

#sidebar .experimental {
  color: #f00;
}

#sidebar .admin {
  color: #900;
}

#home_link img {
  border-style: none;
}

#menu_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 20px;
  text-align: center;
}

#menu_nav li {
  display: inline;
}

#menu_nav li a {
  color: #000;
  padding: 2px 10px;
  background-color: #999;
  text-decoration: none;
  border-left: 1px solid #777;
  border-top: 1px solid #777;
  border-right: 1px solid #111;
  font-weight: bold;
  -moz-border-radius: 8px 8px 0 0;
}

#menu_nav li a:hover {
  background-color: #714064;
  color: #fff;
}

#menu_nav li a.selected {
  background-color: #714064;
  color: #fff;
}

ol li + li {
  margin-top: 1em;
}

?.TabbedPanels {
  margin: 0;
  padding: 0;
  float: left;
  clear: none;
  width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
  margin: 0;
  padding: 0;
}

.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.7em sans-serif;
	background-color: #999;
	color: #000;
	list-style: none;
	border-left: solid 1px #bbb;
	border-bottom: solid 1px #666;
	border-right: solid 1px #666;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

.TabbedPanelsTabHover {
	color: #000;
	background-color: #ccc;
}

.TabbedPanelsTabSelected {
	color: #fff;
	background-color: #714064;
	border-bottom: 1px solid #714064;
}

#sidebar .TabbedPanelsTab a {
	color: #999;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
}

.TabbedPanelContent {
	margin: 0;
}


/****** WADL *****/

.deprecated {
    color: #666;
}

.experimental {
    color: #f00;
}

.admin {
    color: #900;
}

.wadl-api table {
    border-style: none;
    border-collapse: collapse;
    margin: 2px 0 0.5em 0;
    background-color: #fff;
}

#wadl-resources, #wadl-faults {
    margin-bottom: 0.5em;
}

.wadl-api td, .wadl-api th {
    border: 1px solid #999;
    padding: 2px 5px;
    vertical-align: top;
}

.wadl-api td.param-required {
    text-align: center;
}

.wadl-api td p {
    padding: 0;
    margin: 0;
}

.wadl-api td p + p {
    margin-top: 5px;
}

.wadl-api th {
    color: #fff;
    text-align: left;
    background-color: #666;
}

.wadl-api ol li + li {
    margin-top: 1em;
}

.wadl-api .param-default, .wadl-api .param-fixed, .wadl-api .param-one-of {
    color: #800;
    margin-top: 3px;
    padding: 2px 8px;
    border-top: 1px dotted #ccc;
}

.wadl-api div.representation {
    background-color: #f2f2f2;
    padding: 2px 8px 8px 8px;
    border: 1px solid #999;
}

.wadl-api div.representation + div.representation {
    margin-top: 10px;
}

.wadl-api td.param-name {
    font-weight: bold;
}

.wadl-api td.param-name sup {
    font-weight: normal;
    font-size: 9px;
    color: #888;
}

.wadl-api td.level-2 {
    padding-left: 2em;
    background-color: #f4f4ff;
}

.wadl-api td.level-3 {
    padding-left: 4em;
    background-color: #e4e4ef;
}

.wadl-api td.level-4 {
    padding-left: 6em;
    background-color: #d4d4df;
}

.wadl-api td.level-5 {
    padding-left: 8em;
    background-color: #c4c4cf;
}

#wadl-resources span.path {
    color: #425c7d;
    letter-spacing: 0;
    font-size: 0.9em;
}

/********** FAQ ***********/

ol.faqlist {
    margin: 0;
    padding: 0;
}

ol.faqlist li {
    margin-top: 8px;
}

.question {
    font-weight: bold;
}

.answer {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
    background-color: #f6f6ff;
}

/****** WADL *****/

.wadl-api .hilight {
    background-color: #ffc;
}

.wadl-api .feedback {
    background-color: #ff9;
    padding: 2px 5px;
}

.wadl-api .feedback:hover {
    background-color: #ee9;
    color: #f00;
    text-decoration: underline;
}

.wadl-api pre.snippet {
    background-color: #fff;
    color: #000;
    margin-bottom: 5px;
}

.wadl-api span.comment {
    color: #080;
}

.wadl-api span.keyword {
    font-weight: bold;
    color: #800;
}

.wadl-api span.literal {
    color: #00f;
}

.wadl-api span.number {
    font-weight: bold;
    color: #808;
}

.wadl-api p.deprecated {
    color: #f00;
}

.wadl-api p.deprecated a {
    color: #f00;
}

.wadl-api pre.programlisting {
    color: #425c7d;
    background-color: #fff;
    overflow: auto;
    border: 1px solid #999;
    padding: 2px 4px;
    margin: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.wadl-api .concepts p {
    margin-left: 65px;
}

.wadl-api h4 /* snippet header */
{
    margin: 1px 0;
}

.wadl-api tt, .tt {
    font-family: monospace;
    color: #006;
}

table.whats_new td {
    padding: 15px;
}

.invisible {
    display: none;
}

ul.wadl-flags {
    float: right;
    background-color: #ffc;
    border: 1px solid #eeb;
    margin: 0 0 5px 5px;
    padding: 5px 10px;
    list-style: none;
}

ul.wadl-flags .flag img {
    float: right;
    margin-left: 10px;
}

#wadl-resources {
    clear: both;
    margin-top: 1.5em;
}

.wadl-api table.parameters, .wadl-api table.faults {
    width: 100%;
}

.wadl-api p {
    margin: 6px 0 3px 0;
}

a span.deprecated {
    text-decoration: line-through;
}

tr.param-style-header {
    background-color: #ff9;
}

#api_search {
  width: 99%;
}

div.autocomplete {
  margin:0px;
  padding:0px;
  width:178px;
  background:#fff;
  color: #000;
  border:1px solid #888;
  position:absolute;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  display:block;
  list-style-type:none;
  cursor:pointer;
  border-top: 1px solid #eee;
}

div.autocomplete ul li.selected {
  background-color:#ccc;
}
