body {
  font-family: Times New Roman, Times, serif;
  background: white;
  font-size: 10pt;
  padding: 0;
}

#header, #sidebar, a.feedback, a.blind_link {
  display: none;
}

p.response_intro + div, p.request_intro + div {
  display: block;
}

pre {
  font-size: 8pt;
}

div.representation {
  background-color: white;
  border: none;
  padding: 0;
}

#content {
  padding: 0;
  width: 100%;
  margin: 0;
}

#footer {
	padding: 2px;
}

#sidebar + #page {
  margin-left: 0;
}

#sidebar {
  display: none;
}

#top-label{
  border-width: 0;
  margin: 0;
  float: right;
}

#mainlogo{
  vertical-align: middle;
  padding: 40%, 40%, 40%, 40%;
}