#header {
  border-bottom: 5px solid 999999;
}

/*
TODO: You can replace the textual logo at the top of the page by modifying and
introducing the following CSS rules. You're logo should be 40px high.

#home_link {
  display: block;
  background-image: url('../images/mast_head.gif');
  background-repeat: no-repeat;
  height: 40px;
  width: 200px;
}

#home_link .replace {
  display: none;
}
*/

#content {
	width: 760px;
	padding: 20px;
	margin: 0 auto;
}

#header h1 a .sdk {
  color: 714064;
}

#header {
	/*background: url(/brandcenter/images/css/header_bg.gif) no-repeat 15px -17px;*/
	/*width: 955px;*/
	/*height: 87px;*/
	/*margin: auto;*/
	/*position: relative;*/
}

#header img {
	position: absolute;
	top: 0;
	right: 15px;
}

#sidebar .api_group {
  color: ffffff;  
}

#sidebar a:hover {
  background-color: 714064;
}

#menu_nav li a.selected {
  background-color: 714064;
}

hr {
  border: 1px dotted 714064;
}

.TabbedPanelsTabSelected {
	background-color: 714064;
	border-bottom: 1px solid 714064;
}

.feedback {
  background-color: #ff9;
  padding: 2px 5px;
}

.feedback:hover {
  background-color: #ee9;
  color: #f00;
  text-decoration: underline;
}

pre.programlisting {
  border: 1px solid 714064;
  color: #4a1404;
}

p.request_intro + div pre, p.response_intro + div pre {
  border-color: 714064;
  color: #4a1404;
  background-color: #fff;
}

p.response_intro + div pre {
  max-height: 30em;
}

ul#flags {
  float: right;
  background-color: #ffc;
  border: 1px solid #eeb;
  margin: 0  0 5px 5px;
  padding: 5px 10px 5px 25px;
}

div.resource {
  clear: both;
}